<mat-sidenav-container class="app-container">

  <mat-sidenav
    #sidenav
    class="sidebar"
    mode="side"
    opened
  >

    <div class="brand">
      <div class="brand-icon">
        <mat-icon>
          account_balance_wallet
        </mat-icon>
      </div>

      <div>
        <div class="brand-name">
          LedgerFlow
        </div>

        <div class="brand-subtitle">
          Financial Operations
        </div>
      </div>
    </div>


    <mat-nav-list>

      <a
        mat-list-item
        routerLink="/dashboard"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>
          dashboard
        </mat-icon>

        <span matListItemTitle>
          Dashboard
        </span>
      </a>


      <a
        mat-list-item
        routerLink="/customers"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>
          groups
        </mat-icon>

        <span matListItemTitle>
          Customers
        </span>
      </a>


      <a
        mat-list-item
        routerLink="/invoices"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>
          receipt_long
        </mat-icon>

        <span matListItemTitle>
          Invoices
        </span>
      </a>


      <a
        mat-list-item
        routerLink="/payments"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>
          payments
        </mat-icon>

        <span matListItemTitle>
          Payments
        </span>
      </a>


      <a
        mat-list-item
        routerLink="/expenses"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>
          credit_card
        </mat-icon>

        <span matListItemTitle>
          Expenses
        </span>
      </a>


      <a
        mat-list-item
        routerLink="/reports"
        routerLinkActive="active-link"
      >
        <mat-icon matListItemIcon>
          analytics
        </mat-icon>

        <span matListItemTitle>
          Reports
        </span>
      </a>

    </mat-nav-list>

  </mat-sidenav>


  <mat-sidenav-content>

    <mat-toolbar class="topbar">

      <div class="topbar-title">
        LedgerFlow
      </div>

      <span class="toolbar-spacer"></span>

      <button
        mat-icon-button
        aria-label="Notifications"
      >
        <mat-icon>
          notifications_none
        </mat-icon>
      </button>

      <!-- <button
        mat-icon-button
        aria-label="Account"
      >
        <mat-icon>
          account_circle
        </mat-icon>
      </button> -->
      <button
  mat-button
  [matMenuTriggerFor]="accountMenu"
  class="account-button"
>
  <mat-icon>
    account_circle
  </mat-icon>

  <span>
    {{
      auth.user()?.displayName ||
      auth.user()?.email
    }}
  </span>

  <mat-icon>
    expand_more
  </mat-icon>
</button>


<mat-menu
  #accountMenu="matMenu"
>

  <div
    class="account-summary"
    mat-menu-item
    disabled
  >
    <mat-icon>
      person
    </mat-icon>

    <span>
      {{ auth.user()?.email }}
    </span>
  </div>


  <button
    mat-menu-item
    type="button"
    [disabled]="loggingOut()"
    (click)="logout()"
  >
    <mat-icon>
      logout
    </mat-icon>

    <span>
      {{
        loggingOut()
          ? 'Signing out...'
          : 'Sign out'
      }}
    </span>
  </button>

</mat-menu>

    </mat-toolbar>


    <main class="main-content">

      <router-outlet />

    </main>

  </mat-sidenav-content>

</mat-sidenav-container>